<table>
    <thead>
        <tr>
            <th>Text</th>
            <th>Answer</th>
            <th>Match</th>
        </tr>
    </thead>
    <tbody>
        {{#each matches}}
            <tr>
                <td>{{text}}</td>
                <td>{{answer}}</td>
                <td>{{match}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
